<mat-nav-list><br><br><br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/usuarios"> 
        <mat-icon>person</mat-icon> Usuario  
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/productos"> 
        <mat-icon>work</mat-icon> Productos 
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/tiendas"> 
        <mat-icon>store</mat-icon> Tiendas 
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/clientes"> 
        <mat-icon>people</mat-icon> Clientes 
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/proveedores"> 
        <mat-icon>person_add</mat-icon> Añadir Proveedores 
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/ingresos"> 
        <mat-icon>trending_up</mat-icon> Ingresos 
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/credito"> 
        <mat-icon>credit_card</mat-icon> Credito 
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ayuda"> 
        <mat-icon>help</mat-icon> Ayuda 
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ajustes"> 
        <mat-icon>settings</mat-icon> Ajustes 
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/login"> 
        <mat-icon>exit_to_app</mat-icon> Salir 
    </a>

  </mat-nav-list>