
<br><div class="container"><br>

    <div class="card-body">
      
       <h1>Productos Provedorees</h1>
  
       <form action="upload.php" method="POST" [formGroup]="frmpoductosprovedores">
   
       <div class="row" >
         <div class="col-md-4">
           <mat-form-field class="full-width-field">
             <input matInput placeholder="Id proveedores" formControlName="idproveedores" >
           </mat-form-field>
         </div>
         <div class="col-md-4">
           <mat-form-field class="full-width-field">
             <input matInput placeholder="Id productos" formControlName="idproductos" >
           </mat-form-field>
         </div>
         <div  class="col-md-4">
          <mat-form-field class="full-width-field">
            <input matInput placeholder="Cantidad"  formControlName="cantidad" >
          </mat-form-field>
        </div>
       </div>
      </form><br>
      <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
          <button   mat-raised-button type="submit" class="boton">Guardar</button>
        </div>
       </div><br>
    </div>
    </div>       
    <br>