.bg{
    background-image: url('https://c1.wallpaperflare.com/preview/409/921/257/stock-shopping-city-background.jpg');
    background-position: center;
    background-size: cover;

}
body{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
}
.ancho {
    width: 100%;
    }