<br><mat-accordion  multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Registrar Tiendas
      </mat-panel-title>
    </mat-expansion-panel-header>

<div class="container"><br>
  <div class="card-body">
     
     <h1>Registrar Tiendas</h1>

      <form action="upload.php" method="POST" [formGroup]="frmtiendas">
        
      <div class="row">
       <div class="col-md-4">
         <mat-form-field class="full-width-field">
           <input matInput placeholder="Nombre completo" formControlName="nombre">
         </mat-form-field>
       </div>
       <div class="col-md-4">
         <mat-form-field class="full-width-field">
           <input matInput placeholder="Telefono" formControlName="telefono" >
         </mat-form-field>
       </div>
       <div  class="col-md-4">
        <mat-form-field class="full-width-field">
          <input matInput placeholder="Correo"  formControlName="correo" >
        </mat-form-field>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width-field">
            <input matInput placeholder="Direccion" formControlName="direccion" >
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width-field">
            <input matInput placeholder="RFC" formControlName="RFC" >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div  class="col-md-6">
          <input type="file" name="file" id="file" class="inputfile" />
          <label   for="file">Subir foto de la tienda</label>
           </div>
         </div>
          </form><br>
    <div class="row">
      <div class="col-md-10">
      </div>
      <div class="col-md-2">
        <button   mat-raised-button type="submit" class="boton">Guardar</button>
      </div>
     </div>
  </div> <br><br><br> 
  </div>
</mat-expansion-panel>
</mat-accordion> 
   