<div class="container">
 
    <div class="card-body">
        <h1>Corte de Caja</h1>
        
            <div  class="row">
            <div class="col-md-4">
              <mat-form-field class="input-group date" data-provide="datepicker">
                <input type="date" class="form-control"matInput placeholder="Inicio del periodo"  >
              </mat-form-field>
            </div>
            </div>
            <div  class="row">
                <div class="col-md-4">
                  <mat-form-field class="input-group date" data-provide="datepicker">
                    <input type="date" class="form-control"matInput placeholder="Cierre del periodo"  >
                  </mat-form-field>
                </div>
                </div>
        <div class="row">
        <div class="col-md-4">
          <button mat-raised-button type="submit" class="boton">Buscar</button>
        </div>
      </div>
      </div>  
   
    </div>
  
