<div class="main-content">
    <div class="container-fluid">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
               
<app-frm-productosproveedores></app-frm-productosproveedores>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
          <div class="col-md-10">
            <app-list-productosproveedores></app-list-productosproveedores>
          </div>
          <div class="col-md-1">
        </div>
        </div>
    </div>
  </div>




