<div class="main-content">
    <div class="container-fluid">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <app-frm-abonos></app-frm-abonos>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
          <div class="col-md-10">
            <app-list-abonos></app-list-abonos>
          </div>
          <div class="col-md-1">
        </div>
        </div>
    </div>
  </div>
